{% extends 'base.html.twig' %}

{% block title %}Mention légale{% endblock %}

{% form_theme form_mentionlegale 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <br>
    <div id="text">
        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <h1>Mention Légale</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" >
                <div class="col-4" id="colonne-1"></div>
                <div class="col 4" id="colonne-1">
                    <br>
                    <h3>ajouter :</h3>
                </div>
            </div>

            <div class="row" >
                <div class="col-4" id="colonne-1"></div>
                <div class="col-4" id="colonne-1" >

                    {{form_start(form_mentionlegale)}}

                    {{form_row(form_mentionlegale.Titre, {'attr' : {'placeholder' : "Saisir le Titre"}})}}
                    {{form_row(form_mentionlegale.Text, {'attr' : {'placeholder' : "Saisir le text"}})}}

                    <button  type="submit" class="btn" id='btn'>
                        Enregistrer
                    </button>


                    {{form_end(form_mentionlegale)}}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}

