{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <br>
    <h1 id='titre'>Historique</h1>
    <br><br>
    <div id="Body">
        <div id="text-historique">
            {% for historique in showhistorique %}
                <p>{{ historique.text }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
