{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<br>
<h1 id='titre'>Historique</h1>
<br><br>
<div id="Body">
    <div class="container">
        <div class="row"id="text-historique">
            {% for showHistorique in showHistoriques %}       
                {% if loop.index is odd %}
                    <div class="col-2 col-sm-2">
                        {% if images1 %}<img src="{{asset('assets/Images/' ~ images1.name) }}" id="test" class="img-fluid">{% endif %}
                    </div>
                    <div class="col-10 col-sm-10">
                        {% for historique in showHistorique %}<p>{{ historique.text }}</p>{% endfor %}    
                    </div>
                {% else %}
                    <div class="col-10 col-sm-10">
                        {% for historique in showHistorique %}<p>{{ historique.text }}</p>{% endfor %}
                    </div>
                    <div <div class="col-2 col-sm-2">
                        {% if images2 %}<img src="{{asset('assets/Images/' ~ images2.name) }}" id="test2" class="img-fluid" >{% endif %}
                    </div>
                {% endif %}<br>
            {% endfor %}
            </div>  
        </div>
    </div>
</div>
{% endblock %}
