{% extends 'base.html.twig' %}

{% block title %}Démarche{% endblock %}

{% block body %}
<br>
<h1 id='titre'>Démarche</h1>
<br><br>

<div class="container responsive">
    <div class="row">
        <div class="col-sm-6" id="colonne-1">
            <div class="card">
                <h1>Médaille d’Or</h1>
                <p>
                    Cette entreprise traverse avec succès et distinction les grandes crises du XIXème siècle. En 1900, Josette Parys, arrière-arrière-petite-fille de Séraphin, 
                        aux commandes des « Sucreries Rochelaises », remportera une médaille d’Or lors de l’Exposition Universelle de Paris pour son produit phare le « Caracao » !
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}