{% extends 'base.html.twig' %}

{% block title %}Démarche{% endblock %}

{% block body %}
<br>
<h1 id='titre'>Démarche</h1>
<br><br>

<div class="container responsive">
    <div class="row">
        {% for demarche in showDemarche %}
            <div class="col-sm-6" id="colonne-1">
                <div class="card">
                    <h1>{{demarche.titre}}</h1>
                    <p>{{demarche.description}}</p>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}