{% extends 'base.html.twig' %}

{% block title %}Hello ActualitesController!{% endblock %}

{% block body %}
 <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>Actualités :</h1>
            </div>
        </div>
    </div> 
{% endblock %}
